

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  overflow-x: hidden;
  min-height: 100vh;
}

@font-face {
  font-family: "inconsolata" ;
  src: url(/assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf),
       url(/assets/fonts/inconsolata/static/Inconsolata-Bold.ttf)
       url(/assets/fonts/inconsolata/static/Inconsolata-Regular.ttf);
}

@font-face {
  font-family: "inter" ;
  src: url(dictionary-web-app/public/assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf),
       url(dictionary-web-app/public/assets/fonts/inter/static/Inter-Bold.ttf),
       url(dictionary-web-app/public/assets/fonts/inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: "lora";
  src: url(dictionary-web-app/public/assets/fonts/lora/Lora-VariableFont_wght.ttf),
       url(dictionary-web-app/public/assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf),
       url(dictionary-web-app/public/assets/fonts/lora/static/Lora-Regular.ttf),
       url(dictionary-web-app/public/assets/fonts/lora/static/Lora-BoldItalic.ttf),
       url(dictionary-web-app/public/assets/fonts/lora/static/Lora-Regular.ttf);
}